@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: rgb(0, 0, 37);
    color: white;
    font: Poppins sans-serif;
    text-align: center;
    font-size: small;
}